<shared-header></shared-header>

<main
    *ngFor="let items of ingreso">
    <div class="h-screen w-full relative">
        <div class="h-full w-full">
            <img src="assets/ingreso.webp" alt="seguridad_e_higiene" class="h-full w-full object-cover">
            <div class="absolute inset-0 bg-black opacity-50"></div>
        </div>
        <div class="absolute bottom-80 left-6 sm:bottom-56 sm:left-28 text-white">
            <h1 class="text-5xl font-semibold">Ingreso</h1>
        </div>
    </div>

    <section class="flex flex-col justify-center items-center py-6 px-2 sm-px-0">
        <div class="sm:w-[500px] flex flex-col justify-center gap-6">

            <h2 class="text-3xl text-white font-semibold text-center">
                {{ items.title_requisitos }}
            </h2>

            <ul class="text-white sm:text-sm flex flex-col gap-2">
                <li>{{items.info_req_1}}</li>
                <li>{{items.info_req_2}}</li>
                <li>{{items.info_req_3}}</li>
                <li>{{items.info_req_4}}</li>
                <li>{{items.info_req_5}}</li>
                <li>{{items.info_req_6}}</li>
            </ul>

            <div class="w-full sm:w-[350px] bg-blue-900 p-2 rounded sm:mx-auto">
                <p class="text-white uppercase">
                    {{items.info_inscription}}
                </p>
            </div>

        </div>
    </section>
</main>

<shared-footer></shared-footer>
