<article class="py-12" data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-in-out">
    <div class="text-center pb-12">
        <h2 class="text-white text-3xl font-bold">Durante este tiempo, hemos construido</h2>
    </div>
    <div class="flex justify-around text-slate-200">
        <div class="flex flex-col justify-center items-center">
            <h3 class="text-5xl">03</h3>
            <p class="text-xs pt-2">Tecnicaturas</p>
        </div>
        <div class="flex flex-col justify-center items-center">
            <h3 class="text-5xl">1mil</h3>
            <p class="text-xs pt-2">Alumnos</p>
        </div>
        <div class="flex flex-col justify-center items-center">
            <h3 class="text-5xl">30</h3>
            <p class="text-xs pt-2">Graduados</p>
        </div>
    </div>
</article>

<article class="py-12" data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-in-out">
    <div class="flex flex-col sm:flex-row sm:justify-around text-slate-200">

        <div class="flex flex-col justify-center items-center
        bg-[conic-gradient(at_bottom_right,_var(--tw-gradient-stops))] from-blue-600 to-gray-900
        hover:shadow-[0px_0px_10px_5px_rgba(90,90,90,0.2)] p-6 w-full min-h-[300px]">
            <h3 class="text-lg sm:text-2xl text-center">
                Tecnicatura Superior en Desarrollo de Software
            </h3>
            <a routerLink="/desarrollo-de-software" class="mt-4 text-center py-1 px-3 bg-transparent transition-all rounded-md border-2 border-slate-700 hover:bg-slate-900">Ingresar</a>
        </div>

        <div class="flex flex-col justify-center items-center
        bg-[conic-gradient(at_bottom_right,_var(--tw-gradient-stops))] from-blue-600 to-gray-900
        hover:shadow-[0px_0px_10px_5px_rgba(90,90,90,0.2)] p-6 w-full min-h-[300px]">
            <h3 class="text-lg sm:text-2xl text-center">
                Tecnicatura Superior en Seguridad e Higiene
            </h3>
            <a routerLink="/seguridad-e-higiene" class="mt-4 text-center py-1 px-3 bg-transparent transition-all rounded-md border-2 border-slate-700 hover:bg-slate-900">Ingresar</a>
        </div>

        <div class="flex flex-col justify-center items-center
        bg-[conic-gradient(at_bottom_right,_var(--tw-gradient-stops))] from-blue-600 to-gray-900
        hover:shadow-[0px_0px_10px_5px_rgba(90,90,90,0.2)] p-6 w-full min-h-[300px]">
            <h3 class="text-lg sm:text-2xl text-center">
                Tecnicatura Superior en Diseño y Desarrollo
                de productos mecánicos
            </h3>
            <a routerLink="/dis-productos-mecanicos" class="mt-4 py-1 px-3 bg-transparent transition-all rounded-md border-2 border-slate-700 hover:bg-slate-900">Ingresar</a>
        </div>
    </div>
</article>
