<shared-header></shared-header>
<main class="px-6 lg:px-36 pt-14 appearance">
    <section *ngFor="let items of seguridad_higiene">
        <div class="grid max-w-screen-xl py-8 mx-auto lg:gap-8 lg:grid-cols-12">
            <div class="mr-auto place-self-center lg:col-span-7">
                <h1 class="text-xl sm:text-3xl mb-2 font-semibold text-white">
                  {{ items.title }}
                </h1>
                <p class="max-w-2xl mb-3  text-slate-200 lg:mb-8 md:text-lg lg:text-base">
                  {{ items.description_one }}
                </p>
            </div>
            <div class="hidden lg:mt-0 lg:col-span-5 lg:flex">
                <img [src]="items.url" [alt]="items.title" class="object-cover w-[350px] h-[350px] rounded-lg">
            </div>                
        </div>

        <article class="border-t-2 border-t-slate-100 border-b-2 border-b-blue-900">
            <div class="mt-10 mb-2">
                <h2 class="text-xl text-white font-semibold">
                    {{ items.title_obt }}
                </h2>
            </div>
            <dl>
                <dt class="text-blue-500 text-lg">{{items.title_obt_second}}</dt>
                <dd>{{items.info_primary}}</dd>
                <dd class="text-slate-200 font-semibold mb-6">{{items.info_second}}</dd>
            </dl>
        </article>

        <article class="border-b-2 border-b-blue-900">
            <div class="mt-10 mb-2">
                <h2 class="text-xl text-white font-semibold">
                    {{ items.title_perfil }}
                </h2>
            </div>
            <dl>
                <dd class="mb-6 text-slate-200">{{items.info_perfil}}</dd>
            </dl>
        </article>

        <article class="border-b-2 border-b-slate-100">
            <div class="mt-10 mb-2">
                <h2 class="text-xl text-white font-semibold">
                    {{ items.title_plan_est }}
                </h2>
            </div>
            <dl class="mb-4 text-slate-200">
                <dd>{{items.info_plan_est}}</dd>
            </dl>
            <div class="mb-6">
                <h3 class="font-semibold text-white mb-4">{{items.title_materias}}</h3>
                <ul class="mb-4 text-slate-200">
                    <li>{{items.info_materias_1}}</li>
                    <li>{{items.info_materias_2}}</li>
                    <li>{{items.info_materias_3}}</li>
                    <li>{{items.info_materias_4}}</li>
                    <li>{{items.info_materias_5}}</li>
                    <li>{{items.info_materias_6}}</li>
                    <li>{{items.info_materias_7}}</li>
                    <li>{{items.info_materias_8}}</li>
                    <li>{{items.info_materias_9}}</li>
                </ul>
                <h3 class="font-semibold mb-4 text-white">{{items.title_materias_2}}</h3>
                <ul class="mb-4 text-slate-200">
                    <li>{{items.info_materias_seg_1}}</li>
                    <li>{{items.info_materias_seg_2}}</li>
                    <li>{{items.info_materias_seg_3}}</li>
                    <li>{{items.info_materias_seg_4}}</li>
                    <li>{{items.info_materias_seg_5}}</li>
                    <li>{{items.info_materias_seg_6}}</li>
                    <li>{{items.info_materias_seg_7}}</li>
                    <li>{{items.info_materias_seg_8}}</li>
                    <li>{{items.info_materias_seg_9}}</li>
                </ul>
                <h3 class="font-semibold mb-4 text-white">{{items.title_materias_3}}</h3>
                <ul class="text-slate-200">
                    <li>{{items.info_materias_ter_1}}</li>
                    <li>{{items.info_materias_ter_2}}</li>
                    <li>{{items.info_materias_ter_3}}</li>
                    <li>{{items.info_materias_ter_4}}</li>
                    <li>{{items.info_materias_ter_5}}</li>
                    <li>{{items.info_materias_ter_6}}</li>
                </ul>
            </div>
        </article>
    </section>
</main>
<shared-footer></shared-footer>

