<shared-header></shared-header>
<section class="lg:px-20 pt-14">
    <div class="grid max-w-screen-xl py-8 mx-auto lg:gap-8 lg:grid-cols-12">
        <div class="mr-auto place-self-center lg:col-span-7">
            <h2 class="text-5xl sm:text-3xl mb-2 text-white font-bold">
                Nuestro Instituto
            </h2>
            <p class="px-2 sm:px-0 text-lg max-w-lg mb-3 text-slate-200 lg:mb-8 md:text-lg lg:text-base">
                El ISFT N ° 232 fue creado en noviembre de 2019 y dicha creación obedece a la propuesta presentada 
                por la Municipalidad de Alte Brown parara el dictado de las carreras “Tecnicatura Superior en Administración 
                General” y “Tecnicatura Superior en Higiene y Seguridad en el Trabajo”. Durante el 2021 se sumo la Tecnicatura 
                en Producción Agrícola Ganadera y para el ciclo lectivo 2022 se suma la nueva Tecnicatura en Desarrollo de Software. 
                En la actualidad nuestra Institución, juntamente con la EET N ° 4, el CFP 403 conforma la Unidad Integrada de 
                Educación Técnica. También conformamos la Unidad Integrada de Educación Agraria junto al CEA 34 y la EESA N ° 1 de 
                la localidad de Glew.
            </p>
        </div>
        <div class="hidden lg:mt-0 lg:col-span-5 lg:flex">
            <img src="assets/unidad_integral.webp" alt="ISFTNº232">
        </div>                
    </div>
</section>
<shared-footer></shared-footer>
