<div class="h-screen w-full relative">
    <div class="h-full w-full">
        <img src="assets/seguridad_e_higiene.webp" alt="seguridad_e_higiene" class="h-full w-full object-cover">
        <div class="absolute inset-0 bg-black opacity-50"></div>
    </div>
    <div class="absolute top-28 left-6 sm:top-56 sm:left-28 text-white">
        <h1 class="text-5xl font-semibold">Instituto Superior de <br> Formación técnica Nº232</h1>
        <p>Inscripciones abiertas para el ciclo 2025</p>
    </div>
</div>
