<div class="h-screen w-full relative">
    
    <div class="h-full w-full">
        <img src="assets/frente.webp" alt="seguridad_e_higiene" class="h-full w-full object-cover">
        <div class="absolute inset-0 bg-black opacity-50"></div>
    </div>
    <div class="absolute top-28 left-6 sm:top-56 sm:left-28 text-white"
    data-aos="fade-zoom-in" data-aos-delay="200">
        <h1 class="text-5xl font-semibold">
            Instituto Superior de 
            <span class="hidden sm:inline"><br></span> 
            <span class="inline sm:hidden"> </span> 
            Formación técnica Nº232
        </h1>
        <p>Desde Noviembre de 2019</p>
        <div class="pt-6">
            <a routerLink="/ingreso" class="bg-[conic-gradient(at_bottom_right,_var(--tw-gradient-stops))] from-blue-600 to-gray-900
            hover:shadow-[0px_0px_10px_5px_rgba(90,90,90,0.2)] p-6 w-full min-h-[300px] py-2 px-5 rounded-md text-xl">Inscribite</a> 
        </div>

    </div>
</div>
