<shared-header></shared-header>

<section class="h-screen w-full relative">
    <div class="h-full w-full">
        <img src="assets/alumnos.webp" alt="alumnos" class="h-full w-full object-cover">
        <div class="absolute inset-0 bg-black opacity-60"></div>
    </div>
    <div class="absolute bottom-80 left-6 sm:bottom-56 sm:left-28 text-white">
        <h1 class="text-5xl font-semibold">Portal de Alumnos</h1>
    </div>
</section>

<section>
    <div class="h-96 w-full">
        <div class="h-96 w-full relative">
            <img src="assets/progresar.webp" alt="sube" class="h-96 w-full object-cover">
            <div class="absolute inset-0 bg-black opacity-50"></div>
            <div class="absolute inset-0 flex flex-col items-center justify-center text-center text-white gap-4">
                <h2 class="text-white text-4xl sm:text-5xl">Progresar</h2>
                <a href="#" class="bg-blue-700 hover:bg-blue-600 text-white p-2 rounded-lg">Ingresa</a>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="h-96 w-full">
        <div class="h-96 w-full relative">
            <img src="assets/sube.webp" alt="sube" class="h-96 w-full object-cover">
            <div class="absolute inset-0 bg-black opacity-50"></div>
            <div class="absolute inset-0 flex flex-col items-center justify-center text-center text-white gap-4">
                <h2 class="text-white text-4xl sm:text-5xl">Boleto estudiantil</h2>
                <a href="#" class="bg-blue-700 hover:bg-blue-600 text-white p-2 rounded-lg">Ingresa</a>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="h-96 w-full">
        <div class="h-96 w-full relative">
            <img src="assets/tramites.webp" alt="tramites" class="h-96 w-full object-cover">
            <div class="absolute inset-0 bg-black opacity-50"></div>
            <div class="absolute inset-0 flex flex-col items-center justify-center text-center text-white gap-4">
                <h2 class="text-white text-4xl sm:text-5xl">Tramites</h2>
                <a href="#" class="bg-blue-700 hover:bg-blue-600 text-white p-2 rounded-lg">Ingresa</a>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="h-96 w-full">
        <div class="h-96 w-full relative">
            <img src="assets/correlatividades.webp" alt="correlatividades" class="h-96 w-full object-cover">
            <div class="absolute inset-0 bg-black opacity-50"></div>
            <div class="absolute inset-0 flex flex-col items-center justify-center text-center text-white gap-4">
                <h2 class="text-white text-4xl sm:text-5xl">Correlatividades</h2>
                <a href="#" class="bg-blue-700 hover:bg-blue-600 text-white p-2 rounded-lg">Ingresa</a>
            </div>
        </div>
    </div>
</section>

<shared-footer></shared-footer>
